
.temperature {
    grid-area: temperature;
}

.pressure {
    grid-area: pressure;
}

.humidity {
    grid-area: humidity;
}

.rain {
    grid-area: rain;
}

.light {
    grid-area: light;
}

.wind {
    grid-area: wind;
}

.main {
    grid-area: main;
    display: grid;

    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    grid-template-areas:
        "temperature pressure"
        "humidity rain"
        "light wind";
    background-color: darkcyan;
}