.main-chart {
    grid-area: main-chart;
    background-color: transparent;

}


.main {
    grid-area: main;
    display: grid;


    grid-template-columns: 75vw;
    grid-template-rows: auto;
    grid-template-areas:
        "main-chart";

    @include phone {
        grid-template-columns: 100vw;
    }
}