.temperature  {
    grid-area: temperature;
}

.pressure  {
    grid-area: pressure;
}

.humidity {
    grid-area: humidity;
}

.rain {
    grid-area: rain;
}

.light {
    grid-area: light;
}

.wind {
    grid-area: wind;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "temperature"
    "pressure"
    "humidity"
    "rain"
    "light"
    "wind";
    background-color: crimson;
}