.rainbow-icon-container{
    display: inline;
}
.icon {
    &.rainbow{
        width: 2rem;
        height: 2rem;
        margin-right: 0.8rem;

        @include phone {
            width: 1em;
            height: 1em;
        }

    }
}