@import url('https://fonts.googleapis.com/css?family=Exo+2:100|Roboto+Slab&display=swap');


$color-font-headers: rgb(255,255,255);

$font-family-header: 'Exo 2', sans-serif;
$font-family-text: 'Roboto Slab', serif;
$font-base-size: 1em;

/****************
16px =      1em
14px =  0.875em
*****************/

$base-line-height: 1.5;
$margin: 1em;



