@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

$color-scheme-main: #00ADB5;
$color-scheme-accent: #F8B500;
$color-scheme-dark: #393E46;
$color-scheme-light: #B7C7E0;
$color-scheme-bg: #ECE8D9;
$color-shadow-dark: rgba(57, 62, 70, 0.3);
$color-shadow-light: rgba(183, 199, 224, 0.3);
$color-shadow-bg: rgba(236, 232, 217, 0.3);
$color-shadow-main: rgba(0, 173, 181, 0.3);

$font-family-header: 'Fjalla One', sans-serif;
$font-family-text: 'Cantarell', sans-serif;
$font-base-size: 1em;

/****************
16px =      1em
14px =  0.875em
*****************/

$base-line-height: 1.5;

$margin: 1em;

